body {
  background: #eee;
  font-family: "Arial, Helvetica, sans-serif";
  
}
#main h1 {
  color: #444;
  text-align: center;
}
#main {
  box-sizing: border-box;
  width: 60%;
  height: 100%;
}
#book-list {
  padding: 0;
}

.book-list-container {
  text-align: center;
}

#book-list li {
  cursor: pointer;
  display: inline-block;
  margin: 12px;
  padding: 10px;
  border-radius: 4px;
  border: 3px solid rgb(150, 5, 150);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 3);
  color: #880E4F;
  list-style: none;
}

form {
  margin: 12%;
}
label{
  font-weight: bold;
  font-size: 0.8125rem;
  padding-right: 5px;
  color: #615d5c;
}

#book-details {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background-color: #AD1457; 
  padding: 30px;
  overflow: scroll;
  /* box-shadow: -2px -3px 5px rgba(0, 0, 0, 3); */
  /* box-sizing: border-box; */
  color: #fff;
}